.btnBackground{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #4b4b4b;
    cursor: pointer;
    margin: auto;
    margin-top: 60px;
}

.btnBackground:hover{
    background-color: #181818;
}

.addBtnPlus{
    margin-left:12px ;
    margin-top:5px ;
    color: white;
    font-size: 50px;
}