.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-radius: 20px;
    height: 90vh;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    box-shadow: 0 0 15px 5px #7e7e7e;
}
.seperator{
    margin: 0px 20px;
    border-top: 1px solid #b0b0b0;
    height: 20px;
}
.mainDark{
    background-color: #131313;
}
@media (max-width: 370px) {
    .main{
        max-width: 100%;
        padding: 0;
    }
}

