.noteContainer{
    border-radius: 20px;
    height: 100%;
    margin: 0px 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(200px,200px));
    overflow: scroll;
    transition: 500ms;
}
.noteContainer::-webkit-scrollbar{
    display: none;
}



